*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("gu.jpg") no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-size: 10px;
    color: #fff;
    margin-top: 200px;
}
.navbar{
    margin-top: -7%;
    position: fixed;
    width: 100%;
    font-family:sans-serif;
    transition: all 0.3s ease;
    text-align: right;
    margin-left: -20px
}

.navbar .menu li{

    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}

.skills{
    text-align: center;
    font-size: 40px;
}
.skills-content{
margin-left: 400px;
}
.skills .skills-content .column{
    width: calc(50% - 40px);
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 40%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
.skills-content .right .maths::before{
    width: 90%;
}
.skills-content .right .c::before{
    width: 80%;
}
.skills-content .right .java::before{
    width: 70%;
}
 @media only screen and (max-width:600px){
    .skills h2{
    margin-top: -150px;
    font-size: 40px;
}
.skills .skills-content{
    margin-top: 50px;
    margin-left: 180px;
}
.skills .skills-content .column{
    width: calc(100% - 40px);
}
}
