body{
	background: url("gu.jpg") no-repeat;
	background-size:cover;
	background-attachment: fixed;
	
	font-family: poppins;
}

.navbar{
	margin-top: -20px;
    position: fixed;
    width: 100%;
    font-family:sans-serif;
    transition: all 0.3s ease;
    text-align: right;
    margin-left: -20px
}

.navbar .menu li{

    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}

.wrapper{
	width: 1170px;
	margin: 2% auto;
}
.section-header{
	text-align: center;
	margin-bottom: 30px;
}
.section-header h2{
	text-transform: uppercase;
	margin-left: -20%;
	color: #fff;
	font-size: 45px;
	letter-spacing: 3px;
}
.team-member{
	width: 40%;
	
	float: left;
	box-shadow: 5px 5px 15px #000;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 30px;
	text-align: center;
	margin: 5px 5px;
	background: #6b11ee;
}
/*.team-member img{
    width: 100%;
}*/

.team-member h3{
	margin: 0;
	text-transform: uppercase;
	font-size: 25px;
	color: #fff;

}
.team-member p{
	color: #fff;
}
.team-member:before{
position: absolute;
content: '';
left: 0;
bottom: 0;
height: 4px;
width: 100%;
border-bottom: 4px solid transparent;
border-left: 4px solid transparent;
box-sizing: border-box;
transform: translateX(100%);
}

.team-member:after{
position: absolute;
content: '';
left: 0;
top: 0;
height: 4px;
width: 100%;
border-top: 4px solid transparent;
border-right: 4px solid transparent;
box-sizing: border-box;
transform: translateX(100%);
}
.team-member:hover:before {
	border-color: #d04f81;
	height: 100%;
	transform: translateX(0);
	transition: .3s transform linear, .3s height linear .3s;

}

.team-member:hover:after {
	border-color: #d04f81;
	height: 100%;
	transform: translateX(0);
	transition: .3s transform linear, .3s height linear .3s;
	
}
 @media only screen and (max-width:600px){
 	.wrapper{
         display: inline;          
 	}
 	.team-member{
 		width: 100%;
 		max-width: 300px;
 		margin: 10px 0;
 	}
 	.navbar{

	margin-top: -40px;
    margin-left: -100px;
}
.section-header h2{
	font-size: 25px;


}
}
